Repository SnO2WMaN/sno2wman.dev-vol.2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: 遍歴のアニメーション
  src/components/Profile/Timestamp/index.tsx
  src/utils/percentage.ts
Due: eslint --fix

chore(deps): update dependency eslint-plugin-eslint-comments to v3.2.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update typescript-eslint monorepo to v3
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency styled-components to v5.1.1
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency postcss to v7.0.31
  package.json
  yarn.lock
Due: prettier --write

fix: 不要な空オブジェクト型を削除
  src/components/CodeBlock.tsx
  src/components/MobileNavMenu/Menu.tsx
  src/components/NavMenu/Social.tsx
  src/components/NavMenu/index.tsx
  src/components/Profile/Social/index.tsx
Due: eslint --fix

chore(deps): update dependency typescript to v3.9.3
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency eslint to v7.1.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/node to v12.12.42
  package.json
  yarn.lock
Due: prettier --write

fix: 画面遷移を一旦切る
  src/pages/_app.tsx
Due: eslint --fix

fix: デスクトップ版のメニューで同じリンクを連打出来ないように
  src/components/NavMenu/Link.tsx
Due: eslint --fix

chore: ESLintの設定更新
  .eslintrc
Due: prettier --write

refactor: react-springをv9に更新したのでその修正
  package.json
  src/components/MobileNavMenu/Menu.tsx
  src/components/PageTransition.tsx
  src/components/Profile/Social/index.tsx
  src/components/Profile/Timestamp/index.tsx
  src/pages/_app.tsx
  src/pages/profile.tsx
  yarn.lock
Due: eslint --fix, prettier --write

fix: デザインを少し修正
  src/components/Profile/Timestamp/index.tsx
Due: eslint --fix

chore(deps): update dependency eslint-plugin-react-hooks to v4.0.3
  package.json
  yarn.lock
Due: prettier --write

fix: モバイルの時のデザインを少し修正
  src/components/Footer.tsx
  src/components/MobileNavMenu/Hamburger.tsx
  src/components/MobileNavMenu/index.tsx
  src/pages/_app.tsx
Due: eslint --fix

docs(README): 追加
  README.md
Due: prettier --write

fix: OGP画像修正
  src/components/Head.tsx
Due: eslint --fix

chore(deps): update dependency eslint-plugin-react-hooks to v4.0.4
  package.json
  yarn.lock
Due: prettier --write

chore: Renovateの更新周期を週毎に
  renovate.json
Due: prettier --write

chore(deps): update typescript-eslint monorepo to v3.0.2
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency dayjs to v1.8.28
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency next to v9.4.4
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency lint-staged to v10.2.7
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency react-use to v15.1.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/node to v12.12.43
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency lint-staged to v10.2.9
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency @fortawesome/react-fontawesome to v0.1.10
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency postcss to v7.0.32
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{css,sass,scss,json,yml,yaml,md,gql}) or (any of: *.{eslint,prettier,lintstaged,husky}rc)
