Repository SnO2WMaN/sno2wman.dev-vol.2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix"],
  "*.{css,sass,scss,json,yml,yaml,md,gql}": ["prettier --write"],
  "*.{eslint,prettier,lintstaged,husky}rc": ["prettier --write"]
}

feat: ページ遷移アニメーション実装
  package.json
  src/components/PageTransition.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
  src/pages/profile.tsx
  src/pages/projects.tsx
  src/styles/tailwind.css
  yarn.lock
Due: eslint --fix, prettier --write

chore: Commitlintを除外
  .huskyrc
  commitlint.config.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: コミットテンプレート作成
  .github/COMMIT_TEMPLATE
Due: none

chore: ESLintの設定更新
  .eslintrc
Due: prettier --write

chore: Prettierの設定更新
  .prettierrc
Due: prettier --write

style: ファイルフォーマット
  src/components/NavMenu/Link.tsx
  src/components/NavMenu/Social.tsx
  src/components/NavMenu/index.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
  src/pages/profile.tsx
  src/pages/projects.tsx
Due: eslint --fix

fix: サイドメニューのリンクボタン修正
  src/components/NavMenu/Link.tsx
Due: eslint --fix

fix: ページ遷移コンポーネントから不必要な部分を削除
  src/components/PageTransition.tsx
Due: eslint --fix

chore: lintスクリプトでtscの型チェックも行う
  package.json
Due: prettier --write

build: 静的ファイル出力の為に色々整備
  .eslintignore
  .gitignore
  .prettierignore
  package.json
Due: prettier --write

chore(deps): add renovate.json
  renovate.json
Due: prettier --write

chore(deps): Renovateの設定ファイル追加
  renovate.json
Due: prettier --write

chore: Renovateの設定更新
  renovate.json
Due: prettier --write

refactor(deps): 不要な依存関係を一部更新
  package.json
  yarn.lock
Due: prettier --write

ci(lighthouse): Lighthouseの構成をGitHub Actionsに追加
  .github/workflows/ci.yml
  .lighthouserc.json
Due: prettier --write

ci(lighthouse): GitHubに結果を表示
  .github/workflows/ci.yml
Due: prettier --write

chore: .lighthouseciを無視
  .eslintignore
  .gitignore
  .prettierignore
Due: none

docs(FUNDING): 支援ボタン追加
  .github/FUNDING.yml
Due: prettier --write

perf(netlify): netlify-cache-nextjsで高速化を図る
  netlify.toml
Due: none

docs(LICENSE): ライセンス追加
  LICENSE
Due: none

fix(deps): pin dependencies
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency lint-staged to v10.2.4
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency next to v9.4.1
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency autoprefixer to v9.8.0
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency react-use to v14.3.0
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency react-use to v15
  package.json
  yarn.lock
Due: prettier --write

chore: eslint-plugin-unicorn追加
  .eslintrc
  package.json
  src/components/.eslintrc
  yarn.lock
Due: prettier --write

chore: eslint-plugin-jsx-a11yを追加
  .eslintrc
Due: prettier --write

fix(a11y): 警告が出ていたものを修正
  src/components/NavMenu/Link.tsx
  src/components/NavMenu/Social.tsx
Due: eslint --fix

chore(deps): pin dependency eslint-plugin-unicorn to 20.0.0
  package.json
  yarn.lock
Due: prettier --write

ci: yarnのcacheを利用する
  .github/workflows/ci.yml
Due: prettier --write

ci(Lint): ESLintでコードをチェックする
  .github/workflows/ci.yml
Due: prettier --write

ci: ビルド時にキャッシュを利用する
  .github/workflows/ci.yml
Due: prettier --write

chore(deps): update dependency @types/node to v14.0.2
  package.json
  yarn.lock
Due: prettier --write

chore(deps): @types/nodeのバージョンを12系に落とした
  package.json
  yarn.lock
Due: prettier --write
