Repository SnO2WMaN/sno2wman.dev-vol.2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: Node.jsのバージョンをv12.16.3に指定
  .editorconfig
  .node-version
Due: none

chore(deps): pin dependency @types/node to 12.12.39
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/node to v12.12.40
  package.json
  yarn.lock
Due: prettier --write

perf: Tailwind CSSにPurgeCSSを対応
  tailwind.config.js
Due: eslint --fix

chore: Renovateのデフォルトブランチを`develop`に変更
  renovate.json
Due: prettier --write

chore: Renovateの設定更新
  renovate.json
Due: prettier --write

feat: モバイルメニューのトグルボタンを追加
  src/components/MobileNavMenu/Hamburger.tsx
  src/components/MobileNavMenu/index.tsx
Due: eslint --fix

fix(deps): update dependency next to v9.4.2
  package.json
  yarn.lock
Due: prettier --write

feat: モバイルメニューで折りたたんだメニューを表示
  src/components/MobileNavMenu/Hamburger.tsx
  src/components/MobileNavMenu/Link.tsx
  src/components/MobileNavMenu/Menu.tsx
  src/components/MobileNavMenu/index.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
Due: eslint --fix

fix: 表面上の型が間違っているのでas anyで対処
  src/components/MobileNavMenu/Menu.tsx
Due: eslint --fix

feat: プロフィールにアカウント群を追加
  src/components/Profile/Social/Links.tsx
  src/components/Profile/Social/index.tsx
  src/pages/profile.tsx
Due: eslint --fix

feat: ソーシャルリンクの色並べを自然な感じに
  src/pages/profile.tsx
Due: eslint --fix

feat: pixivとAnnictのリンクを追加
  src/components/FontAwesomeIcon/index.ts
Due: eslint --fix

feat: 非公式のFont Awesomeアイコンを追加
  src/icons/.eslintrc
  src/icons/faAnnict.ts
  src/icons/faBookmeter.ts
  src/icons/faPixiv.ts
  src/icons/faSerialExperimentsLain.ts
  src/icons/index.ts
Due: eslint --fix, prettier --write

feat: ソーシャルリンクに非公式のアイコンを使うものを追加
  src/components/Profile/Social/Links.tsx
  src/components/Profile/Social/index.tsx
  src/data/brandcolors.json
  src/data/socials.json
  src/pages/profile.tsx
Due: eslint --fix, prettier --write

feat: SVGファイルをJSXコンポーネントとして取り扱うことが出来るように
  .babelrc
  index.d.ts
  package.json
  src/assets/brand/index.ts
  src/assets/brand/ko-fi.svg
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

feat: ko-fiのリンクを追加
  src/components/Profile/Social/Links.tsx
  src/data/brandcolors.json
  src/data/socials.json
  src/utils/tailwind.ts
Due: eslint --fix, prettier --write

chore: ESLintの設定を更新
  .eslintrc
Due: prettier --write

fix(deps): pin dependency babel-plugin-inline-react-svg to 1.1.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency lint-staged to v10.2.6
  package.json
  yarn.lock
Due: prettier --write

ci: ESLintの出力結果を保存しない
  .github/workflows/ci.yml
Due: prettier --write

chore(deps): update dependency @types/node to v12.12.42
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update typescript-eslint monorepo to v2.34.0
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency type-fest to v0.14.0
  package.json
  yarn.lock
Due: prettier --write

ci(fossa): 設定ファイルを追加
  .fossa.yml
Due: prettier --write

feat: プロフィールを拡充
  src/components/CodeBlock.tsx
  src/components/Profile/Card.tsx
  src/pages/profile.tsx
Due: eslint --fix

feat: 遍歴を追加
  package.json
  src/components/Profile/Timestamp/index.tsx
  src/data/timestamps.tsx
  src/pages/profile.tsx
  yarn.lock
Due: eslint --fix, prettier --write

refactor: アカウントのリンク集を移動
  src/components/Profile/Social/index.tsx
  src/data/accounts.tsx
Due: eslint --fix

refactor: デザインを若干修正
  src/components/CodeBlock.tsx
  src/components/Profile/Card.tsx
  src/pages/profile.tsx
Due: eslint --fix

fix(deps): pin dependency dayjs to 1.8.27
  package.json
  yarn.lock
Due: prettier --write

refactor: デザイン修正
  src/components/MobileNavMenu/Link.tsx
  src/components/NavMenu/Link.tsx
  src/components/Profile/CommonCard.tsx
  src/pages/_document.tsx
  src/pages/profile.tsx
  tailwind.config.js
Due: eslint --fix

feat: SEO関連
  public/favicon.png
  public/ogp.png
  src/components/Head.tsx
  src/pages/index.tsx
  src/pages/profile.tsx
  src/pages/projects.tsx
Due: eslint --fix

refactor: 緩やかな画面遷移
  src/components/PageTransition.tsx
Due: eslint --fix

feat: リンクのアニメーション
  src/components/Profile/Social/index.tsx
  src/pages/profile.tsx
Due: eslint --fix

feat: プロフィールの自己説明文
  src/pages/profile.tsx
Due: eslint --fix

fix: 存在しない型を参照しようとしていたので修正
  src/components/Profile/Social/index.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{css,sass,scss,json,yml,yaml,md,gql}) or (any of: *.{eslint,prettier,lintstaged,husky}rc)
